
@{
    ViewBag.Title = "About";
}

<h2>Über unseren Campingplatz</h2>

<p>
    DER CAMPINGPLATZ: ERHOLUNG FÜR DIE GANZE FAMILIE <br />
    Tauchen Sie ein in einen Urlaub, der für Groß und Klein - für die ganze Familie - eine ganze Menge zu bieten hat! <br />
    Am wärmsten See Oberbayerns gibt es genügend Platz zum Spazieren, Plantschen, Schwimmen, Tretbootfahren, Segeln -
    oder eben einfach nur zum Faulenzen. <br />
    Natürlich gehört zu einem richtigen Campingurlaub auch ein schöner Grillabend. <br />
    Dies ist natürlich auf jedem Stellplatz erlaubt, gerne auch mit einem Holzkohlegrill. <br />
    Kommen Sie mit Wohnwagen, Zelt oder Wohnmobil und suchen Sie sich Ihren Urlaubs-Stellplatz aus.<br />
    Sie haben die Wahl zwischen verschiedenen Größen von 80 bis 200 qm, mit eigenem Frisch- und Abwasseranschluss,
    mit TV-Anschluss oder nur mit Stromanschluss. <br />
    Eher schattig unter unserem prächtigen,
    alten Baumbestand oder lieber sonnig auf der grünen Wiese, der Eichenallee. <br />
    Suchen Sie sich Ihren Wunschplatz nach den für Sie wichtigen Kriterien selbst aus:
    Direkt in Seenähe, etwas ruhiger gelegen am Luxussanitärgebäude, direkt am Hundebadestrand oder
    gleich neben unserem großen Kinderspielplatz mit Abenteuerschiff, Seilrutsche, Klettergerüst, etc. <br />
    Wir freuen uns auf Sie und werden alles dafür geben, Ihren Urlaub so schön wie nur möglich zu gestalten,
    damit Sie sich hier wie zuhause und doch weit entfernt vom Alltag fühlen! <br />
    Gerne können Sie sich unseren Hausprospekt und weitere nützliche Infos zum
    Campingplatz anschauen und auf Wunsch sofort ausdrucken.
    <br />
    <br />

    Quelle: <a href="https://www.strandcamp.de/campingplatz">www.strandcamp.de/campingplatz</a>

</p>

