
@{
    ViewBag.Title = "About";
}

<h2>Über unseren Campingplatz</h2>

<p>
    DER CAMPINGPLATZ: ERHOLUNG FÜR DIE GANZE FAMILIE <br />
    <br />
    Tauchen Sie ein in einen Urlaub, der für Groß und Klein - für die ganze Familie - eine ganze Menge zu bieten hat! <br />
    Zu einem richtigen Campingurlaub gehört natürlich auch ein schöner Grillabend, <br />
    dies ist auf jedem Stellplatz erlaubt. <br />
    Sie können ihren Stellplatz sowohl mit Zelt beziehen, als auch mit Wohnwagen.<br />
    Sie haben die Wahl zwischen verschiedenen Größen von 80 bis 200 qm, mit eigenem Frisch- und Abwasseranschluss, <br />
    mit TV-Anschluss oder nur mit Stromanschluss. <br />
    Suchen Sie sich Ihren Wunschplatz nach den für Sie wichtigen Kriterien selbst aus: <br />
    Direkt in der Nähe des Sees oder etwas ruhiger gelegen oder 
    gleich neben unserem Kinderspielplatz <br />
    Wir freuen uns auf darauf Ihren Urlaub so schön wie nur möglich zu gestalten. <br />
    Wenn Sie mehrere Infos zu unserem Campingplatz haben wollen, können Sie <br />
    gerne in unseren Prospekten nachschauen, auf unserer Website schauen oder uns eine
    Email schreiben
    <br />
    <br />


</p>

