
@{
    ViewBag.Title = "Impressum";
}

<h2>Impressum</h2>

<p>
    STRANDCAMPING WAGING AM SEE <br />
    Am See 1 <br />
    83329 Waging am See <br />
    Deutschland <br />
    Tel.: +49 (0)8681 552 <br />
    E-Mail: info@strandcamp.de <br />
    Fax: +49 (0)8681 45010 <br />
    <br />

   <a href="https://www.strandcamp.de">www.strandcamp.de</a><br />

    <a href="https://www.strandkurhaus.de">www.strandkurshaus.de</a> <br />
</p>

