
@{
    ViewBag.Title = "Infos";
}

<h2>Infos</h2>

<p>
    Standort: Völs <br />
    Stellplätze: 200 <br />
    <br />


    Januar, Februar, März, November, Dezember: <br />
    Montag bis Freitag, 9 bis 12 Uhr <br />

    April - Oktober: <br />
    Montag bis Sonntag - täglich, 7 bis 23 Uhr <br />

    Kontakt: <br />
    Tel.: +43664-3213413 <br />
    E-Mail: info.tirolcamping@gmail.com <br />

</p>
